#initiatives.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    #initiatives.wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 15%;
    }
}